body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-size: 16px;
  font-family: Consolas, Monaco, Menlo, monospace;
  color: #eee;
  background-color: #273245;
}

.App {
  margin: 20px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

input {
  flex-grow: 1;
  border: none;
}

.Header button {
  margin: 0 0 0 20px;
  font-size: 14px;
  border: none;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: "";
}

a {
  color: #eee
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  height: 100px;
  overflow-y: scroll;
}

table tr:nth-child(odd) {
  background: #19202c;
}

table tr:nth-child(even) {
  background: #202938;
}

th {
  padding: 10px 12px;
  text-align: left;
  text-transform: uppercase;
}

td {
  padding: 10px 12px;
}

td img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

td i {
  padding: 0 5px;
}

.Legend i {
  padding: 0 10px 0 20px;
}